.app {
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
  line-height: 1.5;
  display: grid;
  min-height: 100svh;
  grid-template-rows: min-content 1fr;

  background: no-repeat;
  background-size: cover;
  background-image: url(./../public/assets/Home/desktop-background-image.svg);
}

.app-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: flex-end;
  align-items: center;
}
@media (min-width: 50rem) {
  .app-header {
    margin-top: 30px;
  }
}

.app--header--logo {
  margin-inline: 2.5rem;
}

.nav-bar-container {
  display: none;
  width: 100%;
  max-width: 60rem;
}
@media (min-width: 35rem) {
  .nav-bar-container {
    display: block;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: hsl(var(--clr-white) / 0.08);
}

.nav-bar--item--num {
  display: inline;
}

@media (min-width: 35rem) {
  .nav-bar--item--num {
    display: none;
  }
}

@media (min-width: 50rem) {
  .nav-bar--item--num {
    display: inline;
  }
}

.app--content {
  display: grid;
  place-items: center;
  text-align: center;
  padding-inline: 1em;
}
.app--content * {
  max-width: 50ch;
}

@media (min-width: 50rem) {
  .app--content {
    display: grid;
    grid-template-columns: 1em 1fr 1fr 1em;
    text-align: left;
  }
  .app--content > *:first-child {
    grid-column: 2;
  }
  .app--content > *:last-child {
    grid-column: 3;
  }
}
